@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/**************************
		Basic css
**************************/
* {padding: 0px;!important margin: 0px; font-family: Manrope; }
body {font-family: Manrope; overflow-x: hidden; min-height: 100vh; color: #202223;}
a {text-decoration: none; }
button, a {transition: all .4s; }
.container {max-width: 1230px; margin: 0 auto; }
ul, li {list-style: none; margin: 0; }

.h2, h2 {font-size: 26px; font-weight: bold; color: #031740; }
.h3, h3 {font-size: 24px; font-weight: bold;color: #031740;margin-bottom: 15px }
.h4, h4 {font-size: 20px; font-weight: bold; color: #fff; }
.h5, h5 {color: #031740; font-weight: bold; font-size: 16px; }

.site-btn {background-color: #031740; padding: 11px 35px; font-weight: 600; color: #fff; border-radius: 42px; display: inline-block; line-height: 20px; text-align: center;text-decoration: none !important;}
.site-btn:hover {background: #e4d518; color: #031740; }


/**************************
		Header css
**************************/
.header-top{background-color: #e4d518; }
header .header-top h1,header .header-top p,.contact-number{font-size: 14px; color: #031740; margin: 0px; }
div#drop-down-div p {font-weight: 600; }
#drop-down-div svg {width: 18px; height: 18px; }
.contact-number {font-weight: 600; }
header .header-top .left-header .customer-service{width: auto; cursor: pointer; padding-right: 15px; }
header .header-top .left-header .contact-time{min-width: 290px; padding: 10px 15px; border-left: 1px solid rgb(255 255 255 / 50%); }
.drop-down{font-size: 0.8em; }
.drop-down-container{position: absolute; height: 135px; width: 200px; top:60%; z-index: 1; opacity: 0; transition:opacity .1s,all .3s; }
.drop-down-container ul li{padding: 0px 0px 13.5px 18px; color:#003953; font-family: Manrope; font-size:14px; font-weight:400; }
button{outline: none; background: transparent; border: none; }
.menu{background: transparent; width: 18px; cursor: pointer; position: absolute; right: 10%; }
.menu span,.cross{display: block; height: 2px; background:grey; opacity: 0.7; }
.menu span:nth-of-type(1),.cross:nth-of-type(1){transform: rotateZ(-45deg) }
.menu span:nth-of-type(2),.cross:nth-of-type(2){transform: rotateZ(45deg) translateY(-1.5px) translateX(-1.3px); }
.menu-container{margin-top: 5px; }
.rotate{transform: rotateZ(-180deg); }
.drop-down-anim{opacity: 1; top:100%; }
section.header-mid {padding: 12px 0; }
header .header-mid .logo img{width: 125px; height: 75px; }
.search-box{position: relative; }
.search-container {position: relative; width: auto; padding: 0; margin-right: 15px; color: #031740; }
.search-container input::placeholder {color: #c3c3c3; }
.header-search-icon {padding: 12px 20px; background-color: #e4d518; color: #031740; cursor: pointer; border-radius: 0 48px 48px 0; }
.search-container .search-icon{height: 17px; width: 17px; -webkit-filter:invert(30%); background:url(https://www.flaticon.com/svg/static/icons/svg/93/93642.svg); background-repeat: no-repeat; }
.search-container input {position: relative; width: 380px; font-size: 16px; outline: none; padding: 11px 20px; border: 1px solid rgb(228 213 24); border-radius: 47px 0 0 47px; }
.search-container .search-btn{position: absolute; font-weight: bolder; font-size: 0.79em; padding: 11px 29px; transform: translateX(-2px); border-radius:0px; background-color: #003953; border-radius: 0px 4px 4px 0px; height: 45px; top: -5%; right: -3px; }
.search-container .search-btn:hover{background-color:#0076bd; }
header .header-mid .my-cart button {color: #fff; font-size: 15px; background-color: #031740; border: none; padding: 14px 25px; border-radius: 47px; line-height: 20px; font-weight: 600; }
#mycart-btn svg {margin-right: 6px; font-size: 16px; }
header .header-mid #my-cart button span:after{content: 'MY CART' ; }
header .header-mid .my-cart button:hover {background: #e4d518; color: #031740; }
header .header-mid .my-cart button .cart-img{transition: 0.3s; }
header .header-mid .my-cart button .cart-img:hover{transform: scale(1.1); }
.header-navbar {background-color: #031740; }
nav.navbar {padding: 15px; }
.navbar-light .navbar-nav li {margin-right: 22px; }
.navbar-light .navbar-nav .nav-link {color: #ffffff !important; font-weight: 600; font-size: 15px; padding: 0; }
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {color: #e4d518 !important; }
#login-btn {color: #fff; font-weight: 600; font-size: 15px; text-decoration: none; }
#login-btn:hover {color: #e4d518; }
.signin-btn{font-size: 16.5px; }
.signin-inner{max-width: 911px; }
.cross-container{width: 18px; margin-left: auto; right: 0; cursor: pointer; }
.sign-in-form .top{border-bottom: 1px solid grey; }
.sign-in-form .login-heading{font-family:Manrope!important; }
.signin-item{border: 2px solid black; font-weight: bolder; font-size: 14px; text-align: center; min-height: 39px; }
.signin-item:hover{cursor: pointer; }
.middle .right{border-left: 1px solid grey; margin-top: 35px; height: 90%; }
.middle .right ul li{font-size: 14px; margin: 2vh; }
.platform{height: 35px; }
.platform.zappos{width: 25px; }
.platform img{width: 60px; }
.platform.google{width: 20px; }
.left .terms{min-width: 260px; font-size: 12.5px; }

/*Cart css start*/
.proceed-cart {
    top: 90px;
    z-index: 10;
    max-width: 520px;
    right: 15px;
    display: none;
    position: absolute;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #031740;
}
.proceed-cart-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e1e3e5;
}
.proceed-cart-head .h4 {
    color: #031740;
    margin: 0;
}
.myclose-close svg {
    width: 22px;
    height: 22px;
}
.vip-text {
	padding: 5px 15px;
    background-color: #e5f1f8;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #031740;
    justify-content: center;
    margin-bottom: 0;
}
.empty-cart {
    padding: 10px 20px;
}
.empty-cart p {
    margin-bottom: 5px;
}
.empty-cart ul {
    display: flex;
    justify-content: space-between;
}
.empty-cart ul li a {
    font-size: 16px;
    color: #031740;
    font-weight: bold;
}

.cart-list {
    display: flex;
    align-items: flex-start;
    padding: 15px 20px 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.product-img img {
    width: 100px;
    height: 130px;
    object-fit: contain;
    object-position: center center;
    border: 1px solid;
    border-radius: 10px;
}
.product-data {
    padding-left: 15px;
    max-width: 270px;
}
.cart-list p {
    margin-bottom: 0;
}
.cart-list-right {
    text-align: right;
    margin-left: auto;
}

.add-cart-select {
    display: flex;
    align-items: center;
}
.total-item-select {
    border: 1px solid;
    height: 30px;
    display: flex;
    align-items: center;
}
.plus-minus-icon button.btn {
    padding: 0 10px;
}
.cart-footer {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cart-footer p {
    margin-bottom: 10px;
}





/*Cart css end*/


















section#sign-in-form {display: none; }
.stars {width: 20px; }


/*footer css*/
#footer {background-color: #031740; margin-top: 20px; color: #dfdfdf; font-size: 15px; padding: 80px 0 10px; }
#footer .newsletter-col {background: #1a305c; padding: 16px 20px 20px!important; border-radius: 10px; }
form.footer-input {display: flex; align-items: center; }
.footer-input input {padding: 10px 15px; border-radius: 10px 0 0 10px; border: none; flex: 1 1 auto; }
.footer-input button {background: #e4d518; font-weight: bold; padding: 10px 15px; border: none; border-radius: 0 10px 10px 0; border-left: 1px solid #1a305c; }
#footer .h3 {margin-bottom: 12px; }
#footer .list-unstyled li {padding: 2px 0; }
#footer a {color: #dfdfdf; font-size: 15px; text-decoration: none; }
#footer a:hover {color: #e4d518; }
#footer .footer-social-col h3 {margin-bottom: 20px; }
.footer-social li {list-style: none; display: inline-block; margin-right: 8px; }
#footer .footer-social li a {font-size: 20px; width: 33px; height: 33px; background: #fff; display: flex; align-items: center; justify-content: center; color: #031740; border-radius: 100%; }
#footer .footer-social li a:hover {background: #E4D517; }
.footer-last-col {padding-left: 60px; }
#footer .newsletter-col {background: #1a305c; padding: 15px !important; border-radius: 10px; }
#footer .newsletter-col p {color: #dfdfdf; }
.footer-inner-col .list-unstyled {margin: 0; }
.footer-inner-col {margin-bottom: 25px; }
.footer-copyrigh .container ul {border-top: 1px solid #fff; padding-top: 25px; margin-top: 30px; }
.footer-copyrigh ul li {display: inline-block; padding: 0 15px; border-right: 1px solid #dfdfdf; }
.footer-copyrigh ul li:first-child {padding-left: 0; }
.footer-copyrigh ul li:last-child {border-right: none; }


/*Product css*/
.product-top-row {display: flex; align-items: center; justify-content: space-between; padding: 15px 0; }
.breadcrumb {background: transparent; padding: 0; margin: 0; }
.breadcrumb-item+.breadcrumb-item::before {display: inline-block; padding-right: .5rem; padding-left: .5rem; color: #6c757d; content: "/"; }
.breadcrumb li a {color: #6c757d; font-weight: 600; }
.product-sku {margin: 0; font-size: 14px; font-weight: 600; }

.product-ratting {display: flex; align-items: center; }
.product-ratting svg {color: #c6c6c6; font-size: 18px; }
.product-ratting svg.checked {color: #FFC400; }
.total-review {font-weight: bold; font-size: 16px; color: #031740; margin-left: 8px; }

.product-oneline-row {display: flex; align-items: center; justify-content: space-between; border-top: 1px solid #dee2e6; border-bottom: 1px solid #dee2e6; padding: 10px 50px; }
.product-oneline-row li b {margin-right: 5px; }

.product-slider {display: flex; margin: 25px 0; }
.product-slider .slider-nav .slick-list {padding: 0 !important; }
.product-slider-for .slick-track {display: flex; }
.product-slider-nav img, .slider-nav iframe {width: 60px; border: 1px solid #dee2e6; height: 60px; object-fit: contain; padding: 5px; border-radius: 5px; margin-bottom: 3px; cursor: pointer;}
.product-slider-for {padding-left: 50px; }
iframe.embed-player.slide-media {max-width: 729px; height: 487px; }

/*Wear It With section css*/
.wear-it-With-sec {padding: 20px 0; }
.multi-item-slider .slick-track {margin: 5px 0; }
.multi-item-slider .slick-slide {background-color: #ffffff; padding: 0; margin: 0 5px; box-shadow: 0px 0px 4px 2px rgb(3 23 64 / 4%); border-radius: 10px; border: 1px solid rgb(3 23 64 / 8%); }
.multi-item-slider img {width: 100%; height: 100%; object-fit: contain; height: 200px; }
.multi-item-slider button.slick-arrow {z-index: 1; width: 32px; height: 32px; border-radius: 100%; background-color: #031740; }
.multi-item-slider button.slick-arrow:hover {background: #e4d518; }
.multi-item-slider button.slick-arrow::before {opacity: 1; color: #fff; font-size: 26px; font-family: FontAwesome; }
.multi-item-slider button.slick-prev {left: -10px; }
.multi-item-slider button.slick-arrow::before {content: "\f104 "; }
.multi-item-slider button.slick-next {right: -13px; }
.multi-item-slider button.slick-next::before {content: "\f105"; }
.multi-item-content {padding: 10px; background-color: #f7f7f7; margin-top: 15px; }
.multi-item-content p {margin-bottom: 0; font-size: 14px; color: #000000; }
.multi-item-content p.multi-pd-title {font-weight: 600; }
.multi-item-content a {font-size: 14px; font-weight: 600; color: #031740; margin-bottom: 5px; display: inline-block; }
.multi-item-content a svg {margin-right: 5px; }
.multi-item-content a svg path {color: #031740;}
.msrp-price {font-size: 13px; color: #6c757d; }
.mrp-price {font-size: 14px; font-weight: bold; color: #035D59;}
.product-price {display: flex; align-items: center; justify-content: space-between; margin-top: 4px; }

.product-information ul {padding-left: 20px; }
.product-information ul li {list-style: disc; margin-bottom: 5px; font-weight: 500; font-size: 14px; }
.product-information a {font-size: 14px; font-weight: bold; color: #031740; text-decoration: underline; margin-top: 10px; display: inline-block; }
.product-information a svg {margin-left: 5px; font-size: 13px; margin-bottom: -1px; transition: all .4s; }
.product-information a svg path {color: #031740; }
.product-information a:hover svg {margin-left: 8px; }
.item-bought-sec {padding: 40px 0; }
.multi-item-content a.grey-hart svg path {color: #ccc; }
.multi-item-content a.wish-list svg path {color: #D94040; }

/*Product details page right sidebar css*/
.product-rightbar { font-size: 14px; box-shadow: 0px 0px 4px 2px rgb(3 23 64 / 4%); border-radius: 10px; border: 1px solid rgb(3 23 64 / 8%); }
.product-right-top {padding: 15px; background-color: rgb(3 23 63 / 5%); }
.pd-total {text-align: center; margin-bottom: 10px; }
.pd-total .h2 {font-size: 32px; color: #035D59; font-weight: bold; margin-bottom: 5px; }
.pd-total label {margin-bottom: 0; font-weight: 600; color: #031740; }

.product-rightbar .form-group label {font-size: 14px; font-weight: 600; line-height: normal; margin-bottom: 5px; }
.product-rightbar .form-group .form-control {color: #202223; font-size: 14px; letter-spacing: 0.5px; font-weight: 500; }
.product-rightbar .form-group select.form-control {-moz-appearance:none; -webkit-appearance:none; appearance:none; }
.product-rightbar .form-group .form-control:focus {box-shadow: none; outline: none; border: 1px solid #031740; }
.product-rightbar .h6 {color: #031740; font-weight: 600; }
.product-rightbar .site-btn {width: 100%; }

.product-rightbar .add-collection-btn {margin-top: 10px; background-color: #e42f09; border-color: #e42f09; }
.product-rightbar .add-collection-btn:hover { background: #e4d518; color: #e42f09;}
.add-collection-btn svg {margin-right: 6px; }
.pd-right-p {padding: 15px;display: inline-block; }
.size-and-social a {float: left; color: #031740; font-weight: 600; margin-bottom: 5px; }

ul.product-right-social {display: flex; width: 100%; align-items: center; }
ul.product-right-social li {font-size: 16px; font-weight: 600; margin-right: 5px; color: #031740; }
ul.product-right-social li a {font-size: 24px; margin: 0; }
ul.product-right-social li a.pd-facebook svg path {color: #4267B2; }
ul.product-right-social li a.pd-twitter svg path {color: #1DA1F2; }
ul.product-right-social li a.pd-pinterest svg path {color: #E60023; }
ul.product-right-social li a.pd-mail svg path {color: #dcdcdc; }

.recommended-rightbar {padding: 15px; }
.recommended-rightbar {border-top: 1px solid #dee2e6; }
.recommended-rightbar .h5 {margin-bottom: 0; }
.rcmd-rightbar-pd {border: 1px solid #f7f7f7; border-radius: 10px; overflow: hidden; margin-top: 15px; }
.rcmd-rightbar-pd img {width: 100%; height: 250px; object-fit: contain; }
.rcmd-rightbar-pd .product-price {justify-content: flex-start; }
.rcmd-rightbar-pd .product-price .msrp-price {margin-left: 10px; }

.free-shipping-return {max-width: 892px; padding: 40px 0; }
.free-shipping-return a {color: #031740; font-weight: 700; text-decoration: underline; }
.recently-viewed-sec {padding: 20px 0 60px; }